@media only screen and (max-width:991px) {

    body{
        font-family: QuickSand;
        margin: 0;
        padding: 0;
        caret-color: transparent;
    }

    img[src="img/logo.png"]{
        display: none;
    }

    /* Header sticky composer du logo, barre de nav et logo de nos réseaux*/
    

    header{
        margin-bottom: -10%;
        background-size: cover;
        background-color: #4BCBD4;
        overflow: hidden;
        position: sticky;
        top: 0%;
        background-color:  rgba(75, 203, 212, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    .bandeau{

        margin-top: 0.5%;
        margin-left: 5%;
        display: inline-flex;
    }

    header img{
        margin-top: 1vh;
        width: 7vw;
    }

    h1{
        font-size: 2.2cqw;
    }

    h1:hover{
        color: #1F9AA4;
                
    }

    h2{
        font-family: QuickSandB;
        color: #4BCBD4;
        text-align: center;
        font-size: 2cqw;
    }

    .nav p{
        margin: 0 2%;
        font-size: 2cqw;
        color: #1F9AA4;
    }

    a{
        text-decoration: none;
        color: white;
    }

 
    .nav{
        font-family: QuickSandB;
        margin-left: 27%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;   
             
    }

    .reseaux{
        margin-left: 12%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }

    .reseaux a{
        margin-left: -5%;        
    }

    .reseaux a img{
        max-width: fit-content;
        max-height: 2%;
    }

    /*Section description de l'évènement */

    .description{
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #001319;
        color: white;
        font-size: 2cqw;     
        text-align: center;      
    }

    .description div p{
        margin: 5% 10%;

    }


    .mascottes img{
        margin-top: -5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    #ButtonAsso{
        border-radius: 20px;
        border: none;
        background-color: #4BCBD4;
        color: white;
        font-family: QuickSandB;
    }

    /* Section FAQ avec réponse déroulante */

    .FAQ{
        background-color: white;
        padding-top: 1%;
        padding-bottom: 15%;
    }

    #clique1{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
    }
    
    #clique2{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
    }
    
    #clique3{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
    }
    
    #ferme1{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
        display: none;
    }
    
    #ferme2{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
        display: none;
    }
    
    #ferme3{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
        display: none;
    }
    
    .Question{
        height: 5vh;
        width: 70vw;
        border-radius: 20px;
        background-color: #001319;
        color: white;
        margin-bottom: 5%;
        padding-left: 3%;
        padding-right: 3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
        margin-bottom: 2%;
    }
    
    #Reponse1{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 1rem;
        display: none;
      
    }
    
    #Reponse2{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 1rem;
        display: none;   
    }
    
    #Reponse3{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 1rem;
        display: none;   
    }

    .diapo{
        overflow: hidden;
    }

    /* Section contact */

    .contact{
        padding-bottom: 1%;
        padding-top: 4%;
        margin-top: -10%;
        background-color: #001319;
    }

    .boite{
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        height: 5vh;
        width: 70vw;
        margin-bottom: 5%;
        border-radius: 20px;

    }

    .reseau{
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 5%;
        
    }

    .reseau img{
        max-width: 10vw;
        max-height: 10vh;
    
    }



}