@media only screen and (min-width:992px) {

    body{
        font-family: QuickSand;
        margin: 0;
        padding: 0;
        caret-color: transparent;
    }

    img[src="img/logoP.png"]{
        display: none;
    }
    

    header{
        margin-bottom: -10%;
        background-size: cover;
        background-color: #4BCBD4;
        overflow: hidden;
        position: sticky;
        top: 0%;
        background-color:  rgba(75, 203, 212, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    .bandeau{

        margin-top: 0.5%;
        margin-left: 5%;
        display: inline-flex;
    }

    header img{
        margin-top: 1vh;
        width: 10vw;
    }

    h1{
        font-size: 2cqw;
    }

    h1:hover{
        color: #1F9AA4;
                
    }

    h2{
        font-family: QuickSandB;
        color: #4BCBD4;
        text-align: center;
        font-size: 2cqw;
    }

    .nav p{
        margin: 0 2%;
        font-size: 1cqw;
        color: #1F9AA4;
    }

    a{
        text-decoration: none;
        color: white;
    }

 
    .nav{
        font-family: QuickSandB;
        margin-left:30%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;   
             
    }

    .reseaux{
        margin-left: 30%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }

    .reseaux a{
        width: 100%;
        height: 50%;
        margin-right: 15%;
        border-radius: 50%;
        border-style: solid;
        border-color: white;          
    }

    .reseaux a:hover{
        background-color: #4BCBD4;
    }

    .reseaux a img{
        z-index: 1;
        margin-top: auto;
        margin-bottom: auto;
        width: 2.5vw;
        height: fit-content;
    }


    .description h2{
        text-align: center;
        margin-left: -3%;
    }

    .cache{
        display: none;
    }

    #description{
        padding-top: 9vh;
        margin-top: -5%;
        padding-left: 10%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .descriptionP p{
        margin-right: 8%;
        font-size: 1.2cqw;
    }

    .descriptionP{
        display: flex;
        flex-wrap: nowrap;
        text-align: center;   
    }

    .description{
        padding-top: 12%;
        padding-bottom: 2%;
        background-color: #001319;
        color: white;  
        text-align: center;     
        overflow: hidden; 
    }

    .mascottes img{
        margin-top: -5%;
        width: 90%;
    }

    .gauche{
        width: 60%;
    }

    #ButtonAsso:hover{
            background-color: #1F9AA4;
    }

    #ButtonAsso{
        width: 35%;
        border: none;
        background-color: #4BCBD4;
        color: white;
        font-family: QuickSandB;
    }   
    
    .FAQ{
        background-color: white;
        padding-top: 1%;
        padding-bottom: 10%;
    }

    #clique1{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
    }
    
    #clique2{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
    }
    
    #clique3{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
    }
    
    #ferme1{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
        display: none;
    }
    
    #ferme2{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
        display: none;
    }
    
    #ferme3{
        color: white;
        background-color: transparent;
        font-size: 3rem;
        width: 50px;
        text-align: center;
        display: none;
    }

    .Questionh2{
        text-align: left;
        margin-left: 7%;
    }
    
    .Question{
        height: 5vh;
        width: 70vw;
        border-radius: 20px;
        background-color: #001319;
        color: white;
        margin-bottom: 5%;
        padding-left: 3%;
        padding-right: 3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 2rem;
        margin-bottom: 2%;
    }
    
    #Reponse1{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 2rem;
        display: none;
      
    }
    
    #Reponse2{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 2rem;
        display: none;   
    }
    
    #Reponse3{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-size: 2rem;
        display: none;   
    }
    .contact{
        padding-top: 1%;
        margin-top: -10%;
        background-color: #001319;
    }

    .contact h2{
        text-align: right;
        margin-right: 8%;
    }

    .boite{
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        height: 5vh;
        width: 70vw;
        margin-bottom: 5%;
        border-radius: 20px;

    }

    .reseau{
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 5%;
        
    }

    .reseau img{
        max-width: 10vw;
        max-height: 10vh;
    
    }

 
}