@media only screen and (max-width:991px) {

    body{
        font-family: QuickSand;
        margin: 0;
        padding: 0;
        caret-color: transparent;
        background-color: #001319;
    }

    img[src="img/logo.png"]{
        display: none;
    }

    main{
        padding-top: 10%;
    }

    /* Header sticky composer du logo, barre de nav et logo de nos réseaux*/
    

    header{
        margin-bottom: -10%;
        background-size: cover;
        background-color: #4BCBD4;
        overflow: hidden;
        position: sticky;
        top: 0%;
        background-color:  rgba(75, 203, 212, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    .bandeau{

        margin-top: 0.5%;
        margin-left: 5%;
        display: inline-flex;
    }

    header img{
        margin-top: 1vh;
        width: 7vw;
    }

    h1{
        font-size: 2.2cqw;
    }

    h1:hover{
        color: #1F9AA4;
                
    }

    h2{
        font-family: QuickSandB;
        color: #4BCBD4;
        text-align: center;
        font-size: 2cqw;
    }

    .nav p{
        margin: 0 2%;
        font-size: 2cqw;
        color: #1F9AA4;
    }

    a{
        text-decoration: none;
        color: white;
    }

 
    .nav{
        font-family: QuickSandB;
        margin-left: 27%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;   
             
    }

    .reseaux{
        margin-left: 12%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }

    .reseaux a{
        margin-left: -5%;        
    }

    .reseaux a img{
        max-width: fit-content;
        max-height: 2%;
    }

    .cache{
        display: none;
    }

    .nom{
        padding: 1% 0;
        background-color: orange;
        text-align: center;
        color: white;
        font-family: QuickSandB;
    }

    #streamers{
        margin-top: 3%;
        margin-left: 6%
    }

    #streamers img{
        margin-top: 3%;
        border-radius: 50%;
        width: 17vw;
    }
}