@media only screen and (max-width:991px) {

    body{
        font-family: QuickSand;
        margin: 0;
        padding: 0;
        caret-color: transparent;
    }

    img[src="img/logo.png"]{
        display: none;
    }
    

    header{
        margin-bottom: -10%;
        background-size: cover;
        background-color: #4BCBD4;
        overflow: hidden;
        position: sticky;
        top: 0%;
        background-color:  rgba(75, 203, 212, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    .bandeau{

        margin-top: 0.5%;
        margin-left: 5%;
        display: inline-flex;
    }

    header img{
        margin-top: 1vh;
        width: 7vw;
    }

    h1{
        font-size: 2.2cqw;
    }

    h1:hover{
        color: #1F9AA4;
                
    }

    h2{
        font-family: QuickSandB;
        color: #4BCBD4;
        text-align: center;
        font-size: 2cqw;
    }

    .nav p{
        margin: 0 2%;
        font-size: 2cqw;
        color: #1F9AA4;
    }

    a{
        text-decoration: none;
        color: white;
    }

 
    .nav{
        font-family: QuickSandB;
        margin-left: 27%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;   
             
    }

    .reseaux{
        margin-left: 12%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }

    .reseaux a{
        margin-left: -5%;        
    }

    .reseaux a img{
        max-width: fit-content;
        max-height: 2%;
    }

    .description{
        padding-top: 12%;
        padding-bottom: 2%;
        background-color: #001319;
        color: white;
        font-size: 2cqw;     
        text-align: center;      
    }

    .video{
        height: 30vh;
        width: 80vw;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }

    #image1 img{
        width: 101vw;
        height: 40vh;
    }
    
    #image2 img{
        width: 101vw;
        height: 40vh;
    }
    
    #image3 img{
        width: 104vw;
        height: 40vh;
    }
    
    #flecheG{
        position: relative;
        left: 5%;
        z-index: 1;
        visibility: hidden;
    }
    
    #flecheG img{
        max-width: 5vw;
    }
    
    #flecheD{
        position: relative;
        right: 81%;
        z-index: 1;
    }
    
    #flecheD img{
        max-width: 5vw;
    }
    
    #Carroussel{
        margin-top: -2%;
        margin-left: -15%;
        padding-bottom: 4%;
        overflow: hidden;
        display: flex;
        align-items: center;
        width: 351%;
    }

    #photos{
        margin-top: -2%;
        transition: all 3s;
        display: flex;
        flex-wrap: nowrap;
        width: 330%;
    }

    .diapo{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        overflow: hidden;
        padding-bottom: 20%;
    }

    .boutonFlex{
        display: flex;
        justify-content: space-around;
    }

    #onstream{
        border: none;        
        color: white;
        font-family: QuickSandB;
        margin-top: 5%;
        background-color: #4BCBD4;
        padding: 0 2%;
        border-radius: 20px;
    }

    #caststream{
        border: none;        
        color: white;
        font-family: QuickSandB;
        margin-top: 5%;
        background-color: #4BCBD4;
        padding: 0 6%;
        border-radius: 20px;
    }

   .Planning{
        padding-top:4%;
        padding-bottom: 2%;
        background-color: #001319;
        color: white;
        font-size: 2cqw;     
        text-align: center;  

   }

    .diapo{
        overflow: hidden;
    }

    .contact{
        padding-top: 4%;
        margin-top: -10%;
        background-color: #001319;
    }

    .boite{
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        height: 5vh;
        width: 70vw;
        margin-bottom: 5%;
        border-radius: 20px;

    }

    .reseau{
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 5%;
        
    }

    .reseau img{
        max-width: 10vw;
        max-height: 10vh;
    
    }


}