@media only screen and (max-width:991px) {

    body{
        font-family: QuickSand;
        margin: 0;
        padding: 0;
        caret-color: transparent;
    }

  
    header{
        padding-top: 2%;
        width: 100%;
        background-size: cover;
        background-color: #4BCBD4;
    }

    img[src="img/logoP.png"]{
        display: none;
    }

    header img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    h1{
        font-size: 4cqw;
    }

    h2{
        font-family: QuickSandB;
        color: #4BCBD4;
        text-align: center;
    }

    .nav p{
        margin: 0 2%;
        font-size: 5cqw;
        color: #1F9AA4;
    }


    a{
        text-decoration: none;
        color: white;
    }

    .nav{
        font-family: QuickSandB;
        margin-top: -10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;        
    }

    .cache{
        display: none;
    }

    .streamers{
        padding-top: 2%;
        background-color: #001319;
        color: lightblue;
        font-family: QuickSandB;
        text-align: center;

    }

    #onstreams img{
        width: 15vw;
        border-radius: 50%;
        border-color: red;
        border-style: solid;
    }
    
    #offline img{
        width: 15vw;
        border-radius: 50%;
        border-color: black;
        border-style: solid;
    }
    
    #onstreams{
        padding: 3% 10%;        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    #offline{
        padding: 3% 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .equipe{
        color: #4BCBD4;
        font-family: QuickSandB;
        text-align: center;
        padding-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: white;
        font-family: QuicksandB;
        text-align: center;        
    }

    .boite{
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4BCBD4;
        width: 70%;
        height: 20%;
        margin-left: 15%;
    }

    #equipe{
        width: 50%;
    }


    .equipe1{
        margin-left: 6%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
        border-radius: 20px;
        background-color: orange;
        width: 90%;
        height: 25vh;
    }

    .equipe2{
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
        border-radius: 20px;
        background-color: red;
        width: 90%;
        height: 25vh;
    }

    .equipe3{
        margin-left: 6%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        border-radius: 20px;
        background-color: green;
        width: 90%;
        height: 25vh;
    }

    .equipe4{
        margin-left: 5%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        border-radius: 20px;
        background-color: pink;
        width: 90%;
        height: 25vh;
    }

    .equipe1 img{
        width: 13vh;
    }

    .equipe2 img{
        width: 13vh;
    }

    .equipe3 img{
        margin-top: 2%;
        width: 20vh;
    }

    .equipe4 img{
        width: 17vh;
    }

    .cast{
        overflow:hidden;
        padding-top: 2%;
        margin-top: 5%;
        background-color: #001319;
        color: lightblue;
        font-family: QuickSandB;
        text-align: center;
    }

    .flex100{
        padding-left: 5%;
        padding-bottom: 10%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .flex65{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }

    .flex35{

        width: 35%;

    }

    .flex35 img{
        width: 100%;
    }

    .flex40 img{
        width: 40%;

    }

    #boutton{
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4BCBD4;
        color: white;
        width: 70%;
        height: 20%;
        margin-left: 15%;
        margin-top: 5%;
    }

    footer{
        background-color: #4BCBD4;
        height: 10vh;
    }


    
    
}