@media only screen and (min-width:992px) {

    body{
        font-family: QuickSand;
        margin: 0;
        padding: 0;
        caret-color: transparent;
    }

    header{
        padding-top: 2%;
        padding-bottom: 3%;
        width: 100%;
        background-size: cover;
        background-color: #4BCBD4;
        height: 7vh;
        overflow: hidden;
    }

    .bandeau{
        margin-left: 5%;
        display: inline-flex;
    }

    img[src="img/logo.png"]{
        display: none;
    }

    header img{
        margin-top: -20%;
        display: block;
        width: 8vw;
    }

    h1{
        font-size: 2cqw;
    }

    h2{
        font-family: QuickSandB;
        color: #4BCBD4;
        text-align: center;
        font-size: 2cqw;
    }

    .nav p{
        margin: 0 2%;
        font-size: 2cqw;
        color: #1F9AA4;
    }

    a{
        text-decoration: none;
        color: white;
    }

    .nav{
        font-family: QuickSandB;
        margin-top: -2%;
        margin-left: 45%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;   
             
    }

    .description h2{
        text-align: center;
        margin-left: -3%;
    }

    .cache{
        display: none;
    }

    #description{
        padding-top: 9vh;
        margin-top: -5%;
        padding-left: 10%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .descriptionP p{
        margin-right: 8%;
        font-size: 1.2cqw;
    }

    .descriptionP{
        display: flex;
        flex-wrap: nowrap;
        text-align: justify;   
    }

    .description{
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #001319;
        color: white;  
        text-align: center;     
        overflow: hidden; 
    }

    .mascottes img{
        margin-top: -5%;
        width: 90%;
    }

    .gauche{
        width: 60%;
    }

    #ButtonAsso{
        width: 35%;
        border: none;
        background-color: #4BCBD4;
        color: white;
        font-family: QuickSandB;
    }    

    #image1 img{
        width: 101vw;
        height: 80vh;
    }
    
    #image2 img{
        width: 101vw;
        height: 80vh;
    }
    
    #image3 img{
        width: 104vw;
        height: 80vh;
    }
    
    #flecheG{
        position: relative;
        left: 4%;
        z-index: 1;
        visibility: hidden;
    }
    
    #flecheG img{
        max-width: 5vw;
    }
    
    #flecheD{
        position: relative;
        right: 70%;
        z-index: 1;
    }
    
    #flecheD img{
        max-width: 5vw;
    }
    
    #Carroussel{
        margin-left: -6%;
        padding-bottom: 4%;
        overflow: hidden;
        display: flex;
        align-items: center;
        width: 330%;
    }

    #photos{
        overflow: hidden;
        transition: all 3s;
        display: flex;
        flex-wrap: nowrap;
        width: 350%;
    }

    .diapo{
        overflow: hidden;
    }

    .contact{
        padding-top: 7%;
        margin-top: -10%;
        background-color: #001319;
    }

    .boite{
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        height: 5vh;
        width: 70vw;
        margin-bottom: 5%;
        border-radius: 20px;

    }

    .reseaux{
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 5%;
        
    }

    .reseaux img{
        max-width: 10vw;
        max-height: 10vh;
    
    }

    footer{
        height: 10vh;
        background-color: #4BCBD4;
    }



}